body,
html {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Helvetica Neue", serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    display:inline-block;
    background-color: black;
    width: 100%;
    height: 70px;
    text-align: center;
    line-height: 70px;

}

header img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 15px;
    float: left;

}

header h1 {
    color: white;
    text-align: center;
    font-size: 20px;
    display: inline-block;  /* h1 块级元素  占一行*/
    margin: 0;  /*默认有外边距*/
}

header nav {
   float : right; /*浮动*/
}

header nav li{
    display: inline-block;  /*去掉块级元素*/
}

main{
    /*margin-top: 70px;*/ /*这是一个神奇的陷阱  在这个位置设置边距之后会导致离浏览器的头有距离*/
}

main > .description > img {
    float: left;  /*反正就是给它加 为什么不知道。。。*/
    margin: 20px;
    padding-top : 50px;
}

main > .description >h2 {
    position: absolute;
    top : 70px;
    left: 670px;
}

.description{
    background-color: gray;
}

.description-p1 {
    position: absolute;
    top : 110px;
    left: 670px;
}

.description-p2{
    clear:both;
}

main > .relationship > img {
    float: right;
    width: 626px;
    height: 697px;
}

footer {
    position: fixed;
    background-color: gray;
    width: 100%;
    padding: 40px;
    bottom: 0;
    text-align: center;

}